<p id="notice"><%= notice %></p>
<h1><%= @club.name + " - " + "Members: #{@club.users.count}" %></h1>

<% if @club.users.include? current_user %>
  <%= button_to 'Leave Club', {:controller => "users", :action => "leave", :club_id => @club.id, :user_id=> session[:user_id]}, :method=>:post, data: { confirm: "Are you sure you want to leave this club?" }, class: 'btn btn-danger' %><br>
<% else %>
  <%= button_to 'Join', {:controller => "users", :action => "join", :club_id => @club.id, :user_id=> session[:user_id]}, :method=>:post, class: "btn btn-primary" %><br>
<% end %>

<h2><u>Club Members</u></h2>
<% @club.users.each do |user| %>
  <ul>
    <li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></li>
  </ul>
<% end %>

<h3>Meetings</h3><%= button_to 'Create', {:controller => "meetings", :action => "new", :club_id => @club.id}, :method=>:get, class: 'btn btn-success' %><br>

<% @club.meetings.each do |meeting| %>
  <div class="container">
  	<div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <section class="post-heading">
            <div class="row">
              <div class="col-md-11">
                <div class="media">
                  <div class="media-body">
                    <%= link_to "Edit", edit_club_meeting_path(@club, meeting) %>

                    <%= form_tag(club_meeting_path(@club, meeting)) do %>
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class='btn btn-xs btn-danger' name="button">Delete</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="post-body">
            <h6><u><%= meeting.name %></u> - <%= meeting.meeting_datetime %></h6>
            <p><%= meeting.description %></p>
          </section>
        </div>
      </div>
  	</div>
  </div>
<% end %>
