<%= form_for [@club, @meeting] do |f| %> 
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors</h2>
      <ul>
        <% @meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :meeting_datetime, "Time of Meeting" %><br>
    <%= f.text_field :meeting_datetime %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
