<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-2">
    <% if @user.image %>
      <img src="<%= @user.image %>", class="user_pic">
    <% end %>
    <% if @user != current_user %>
      <h1><%= @user.first_name + " " + @user.last_name %></h1>
    <% end %>
  </div>
  <div class="col-md-2">
    <div class="mt-2">
      <% if @user.admin == true %>
        <%= link_to "Create Club", new_club_path %><br>
      <% end %>
      <%= link_to "Join New Club", clubs_path %><br>
    </div>
  </div>
</div>
<% if @user == current_user %>
  <h1>Welcome <%= @user.first_name + " " + @user.last_name %>!</h1>
<% end %>
  <hr>

<div class="row">
  <div class="col-md-6">
    <h3><u><%= @user.first_name + "'s " %>Clubs</u></h3>
    <% @user.clubs.each do |club| %>
      <%= link_to club.name, club_path(club) %><br>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <a href="/clubs/index" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <p class="mb-1"><b>Recent Clubs Created</b></p>
          </div>
      </a>
      <% @clubs.last(2).each do |i| %>
        <a href="/clubs/<%= i.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= i.name %></h5>
              <small>Type of club:</small>
          </div>
          <p class="mb-1">Members: <%= i.users.count %> | Club Category: <%= i.club_category %></p>
          <small>Description: <%= i.description %></small>
        </a>
      <% end %>
    </div>
  </div>
</div>
