<% if session[:user_id] && @user.uid %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% end %>

<h1>Welcome to bookVin <%= @user.first_name + " " + @user.last_name %>!</h1>
<%= link_to "Log Out", signout_path %><br>

<%= link_to "Create Club", new_club_path %><br>
<%= link_to "Join New Club", clubs_path %><br>
<br><br>

<div>
  <h3><u>Your Clubs</u></h3>
  <% @clubs.each do |club| %>
    <%= link_to "#{club.name}", club_path(club) %><br>
  <% end %>
</div>
